<!doctype html>
<html lang="zh-CN">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <title>{% block title %}{% endblock %} - Applications for Erniu</title>

  <!-- Bootstrap -->
  <link href="{{ url_for('static', filename='public/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='src/app4laopo.css') }}" rel="stylesheet">

  <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
  <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
  <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
  <![endif]-->
  <script src="{{ url_for('static', filename='public/js/vue.js') }}"></script>
  {% endblock %}
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('index') }}">Applications for Erniu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Applications</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('reimbursement.index') }}">Reimbursement</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container" role="main">
    {% block content %}{% endblock %}
  </div>
  <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
  <script src="{{ url_for('static', filename='public/js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='public/js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='public/js/bootstrap.min.js') }}"></script>
  {% block import %}{% endblock %}
</body>

