{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="jumbotron">
    <h1>你好，世界！</h1>
  </div>

  <!-- div id="app">
    {[{ message }]}
  </div>
  <div id="app-2">
    <span v-bind:title="message">
      鼠标悬停几秒钟查看此处动态绑定的提示消息！
    </span>
  </div>
  <div id="app-3">
    <p v-if="seen">Now you see me!</p>
  </div>
  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {[{ todo.text }]}
      </li>
  </div>
  <div id="app-5">
    <p>{[{ message }]}</p>
    <button v-on:click="reverseMessage">Reverse message</button>
  </div -->
{% endblock %}
{% block import %}
  <script src="{{ url_for('static', filename='src/index.js') }}"></script>
{% endblock %}
