{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link href="{{ url_for('static', filename='src/reimbursement/app.css') }}" rel="stylesheet">
{% endblock%}
{% block title %}Reimbursement{% endblock %}
{% block content %}
  <div class="page-header">
    <h1>Reimbursement</h1>
  </div>
  <div id="nav-tabs">
    <ul class="nav nav-tabs">
      <li id="search-tab-btn" class="nav-item"><a class="nav-link" v-bind:class="{active: searchTab}" href="#" v-on:click="toggle(0, $event)">Search</a></li>
      <li id="mgt-tab-btn" class="nav-item"><a class="nav-link" v-bind:class="{active: mgtTab}" href="#" v-on:click="toggle(1, $event)">Management</a></li>
    </ul>

    <div id="search-tab" class="content-tab" v-bind:class="{hidden: !searchTab}">
      <div class="row">
        <div class="form-group col-md-4 col-xs-12">
          <label class="sr-only" for="search-input">Search Input</label>
          <input type="text" class="form-control" id="search-input" placeholder="Target distance(KM)" v-model="targetDistance">
        </div>
        <div class="form-group col-md-4 col-xs-12">
          <label class="sr-only" for="hospital">Hospital Name</label>
          <input type="text" class="form-control" id="hospital" placeholder="Hospital Name">
        </div>
        <div class="form-group col-md-1 col-xs-12">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="src-radio" value="src" checked>
            <label class="form-check-label" for="src-radio">source</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="dst-radio" value="dst">
            <label class="form-check-label" for="dst-radio">destination</label>
          </div>
        </div>
        <div class="form-group col-md-2 col-xs-12">
          <button class="btn btn-primary center-block" v-on:click="searchAction">Search</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-xs-12">
          <table class="table table-hover table-sm" id="result">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">From</th>
                <th scope="col">From(EN)</th>
                <th scope="col">To</th>
                <th scope="col">To(EN)</th>
                <th scope="col">Mistakes(KM)</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(re, idx) in results">
                <th scope="row">{[{ idx }]}</th>
                <td>{[{ re.src.name_ch }]}</td>
                <td>{[{ re.src.name_en }]}</td>
                <td>{[{ re.dst.name_ch }]}</td>
                <td>{[{ re.dst.name_en }]}</td>
                <td>{[{ re.distance }]}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div id="management-tab" class="content-tab" v-bind:class="{hidden: !mgtTab}">
      <div class="row">
        <div class="form-group col-md-4 col-xs-12">
          <label class="sr-only" for="hospital-mgt-search">Hospital Name</label>
          <input type="text" class="form-control" id="hospital-mgt-search" placeholder="Hospital Name" v-model="hospitalName">
        </div>
        <div class="form-group col-md-1 col-xs-12">
          <button class="btn btn-primary center-block" v-on:click="searchHospital">Search</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-xs-12">
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Name(EN)</th>
                <th scope="col" class="d-none d-sm-table-cell">Address</th>
                <th scope="col" class="d-none d-sm-table-cell">Longitude</th>
                <th scope="col" class="d-none d-sm-table-cell">Latitude</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(h, idx) in hospitals" data-toggle="modal" data-target="#hospitalDetail" v-bind:data-idx="idx" v-on:click="handleHospitalDetailShow(idx, $event)">
                <th scope="row">{[{ idx }]}</th>
                <td>{[{ h.name_ch }]}</td>
                <td>{[{ h.name_en }]}</td>
                <td class="d-none d-sm-table-cell">{[{ h.address }]}</td>
                <td class="d-none d-sm-table-cell">{[{ h.lng }]}</td>
                <td class="d-none d-sm-table-cell">{[{ h.lat }]}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="hospitalDetail" tabindex="-1" role="dialog" aria-labelledby="hospitalDetailTitle" aria-hidden="true" v-on:show.bs.modal="handleHospitalDetailShow">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="hospitalDetailTitle">Hospital detail</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="handleDetailCancel">
              <span aria-hidden="true" v-on:click="handleDetailCancel">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="h-name">Name</label>
              <input v-model="hospitalDetail.name_ch" type="text" class="form-control" id="h-name" placeholder="Name" readonly>
            </div>
            <div class="form-group">
              <label for="h-name-en">Name(EN)</label>
              <input v-model="hospitalDetail.name_en" type="text" class="form-control" id="h-name-en" placeholder="Name(EN)">
            </div>
            <div class="form-group">
              <label for="h-address">Address</label>
              <input v-model="hospitalDetail.address" type="text" class="form-control" id="h-address" placeholder="Address" readonly>
            </div>
            <div class="form-group">
              <label for="h-lng">Longitude</label>
              <input v-model="hospitalDetail.lng" type="text" class="form-control" id="h-lng" placeholder="Longitude" readonly>
            </div>
            <div class="form-group">
              <label for="h-lat">Latitude</label>
              <input v-model="hospitalDetail.lat" type="text" class="form-control" id="h-lat" placeholder="Latitude" readonly>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="handleDetailCancel">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="handleDetailSave">Save changes</button>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
{% block import %}
  <script src="{{ url_for('static', filename='src/reimbursement/app.js') }}"></script>
{% endblock %}
