{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link href="{{ url_for('static', filename='src/reimbursement/app.css') }}" rel="stylesheet">
{% endblock%}
{% block title %}Reimbursement{% endblock %}
{% block content %}
  <div class="page-header">
    <h1>Reimbursement</h1>
  </div>
  <div id="nav-tabs">
    <ul class="nav nav-tabs">
      <li id="search-tab-btn" class="nav-item"><a class="nav-link" v-bind:class="{active: searchTab}" href="#" v-on:click="toggle(0, $event)">Search</a></li>
      <li id="mgt-tab-btn" class="nav-item"><a class="nav-link" v-bind:class="{active: mgtTab}" href="#" v-on:click="toggle(1, $event)">Management</a></li>
    </ul>
    {% include "reimbursement/search_tab.html" %}
    {% include "reimbursement/mgt_tab.html" %}
    {% include "reimbursement/hospital_detail_modal.html" %}
    {% include "reimbursement/add_hospital_modal.html" %}
    {% include "reimbursement/alerts.html" %}
  </div>
{% endblock %}
{% block import %}
  <script src="{{ url_for('static', filename='src/reimbursement/app.js') }}"></script>
{% endblock %}

